<div class="container">
  <h1>{{title}}</h1>

  <form>
    Login: <INPUT placeholder="email or username">
    Password: <INPUT placeholder="password">
    <br>
    <br>

    <a href="/">Forgot passowrd?</a> or <a href="/newCustomer">Register</a>

  </form>
</div>

