<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/newCustomer">Reg</a>
        <a href="/catalogue">Catalogue</a>
        <a href="/news">News</a>
        <a href="/claimForm">Order</a>
        <a href="/calender">Calender</a>
      </nav>
    </div>
      {{{body}}}
  </body>
</html>
