<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  </head>
  <body>
    <div class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/customers">Customer Index</a>
        <a href="/newCustomer">Register New</a>
        <a href="/customers/:id">Find Customer</a>
        <a href="/customers/edit/:id">Edit Customer</a>
        <a href="/stock">stock</a>
      </nav>
      <h1>{{title}}</h1>
    </div>
    <section>
      {{{body}}}
    </section>
  </body>
</html>
