<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/newCustomer">Reg</a>
        <a href="/customersIndex">Customer Index</a>
        <a href="/customers/edit">Edit Customers</a>
        <a href="/claimForm">Order</a>
        <a href="/blog">Blog</a>
      </nav>
      <h1>{{title}}</h1>
    </div>
      {{{body}}}
  </body>
</html>
