<h1>New Customer</h1>

<form method="POST" class="addCustomer" id="addCusotmer" action="/newCustomer"/>
  First Name: <input id="name" type="text" name="name" placeholder="First Name"></input>
  Last Name: <input id="name" type="text" name="name" placeholder="First Name"></input>
  Email: <input id="name" type="text" name="name" placeholder="First Name"></input>
  Phone: <input id="name" type="text" name="name" placeholder="First Name"></input>
  Address: <input id="name" type="text" name="name" placeholder="First Name"></input>
  Purchased: <input id="name" type="text" name="name" placeholder="First Name"></input>
  Notes: <input id="name" type="text" name="name" placeholder="First Name"></input>
  <input type="submit" id="submitButton" value="Register"></input>
</form>