<!-- <h1>{{title}}</h1> -->

<form method="POST" class="addCustomer" id="addCusotmer" action="/newCustomer"/>
  First Name: <input id="first_name" type="text" name="first_name" placeholder="First Name"></input>
  Last Name: <input id="last_name" type="text" name="last_name" placeholder="Last Name"></input>
  Email: <input id="email" type="text" name="email" placeholder="Email"></input>
  Home Phone: <input id="home_phone" type="text" name="home_phone" placeholder="Phone"></input>
  Address: <input id="address" type="text" name="address" placeholder="Address"></input>
  Purchased: <input id="purchased" type="text" name="purchased" placeholder="Purchased"></input>
  Notes: <input id="notes" type="text" name="notes" placeholder="Notes"></input>
  <input type="submit" id="submitButton" value="Register"></input>
</form>